* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: aqua;
    height: 10vh;
}
.nav {
    position: static;
    right: 15px;
    position: relative;
}
.nav-ul li {
    background-color: coral;
    display: inline-block;
    position: relative;
    margin: 3px;
    top: 3vh;
    left: 80vw;
}

main {
    background-color: red;
    height: 80vh;
}
aside, section {
    display: inline-block;
    height: 80vh;
    background-color: orange;
}
aside {
    width: 30vw;
    background-color: green;
}
aside .parrafo {
    height: 15vh;
    margin: 3vh;
    background-color: blueviolet;
}
section {
    position: absolute;
    left: 30vw;
    width: 70vw;
    padding: 15px;
    background-color: darkolivegreen;
}

footer {
    background-color: yellowgreen;
    height: 10vh;
}